section {
  width: 16.666%;
  height: 275px;
  float: left;
  text-align: center;
}

select {
  margin: 25px;
  width: 50%;
  padding: 12.5px;
  border-radius: 10%;
}

footer {
  clear: both;
  text-align: center;
}